<!--Glavni-->
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Grupni treninzi</h1>
      <p class="lead">Naš fitness centar često organizuje grupne treninge. Prijavite se!</p>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="assets/grupniSlika.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy" width="65%" height="65%">
    </div>
  </div>
</div>


<!--Grupni treninzi-->

<div class="col mx-3 shadow-sm p-3 mb-5 bg-white rounded">
  <div class="album py-5 bg-light">
    <div class="container mb-5">
      <button *ngIf="loginInfo().autentifikacijaToken != null && loginInfo().autentifikacijaToken.korisnickiNalog.isAdmin" (click)="NapraviNoviTrening()" class="btn btn-sm btn-primary">Dodaj novi +</button>    </div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let x of this.grupniTreninzi">
          <!-- <div class="container">
            <div class="detalji-img">
            <img src="{{getSlikaById(x.id)}}" alt="" srcset="" width="200" height="200">
            </div>
            <div class="card-body">
              <h4 class="text-center">{{x.naziv_kategorije}}</h4>
              <div class="col d-flex my-4">
                <img class="px-5" src="assets/date.png">
                <p class="card-text" style="border-radius: 10px;">{{x.vrijeme_odrzavanja}}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group w-100">
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="Prijava(x.id)">Prijavi se</button>
                </div>
              </div>
            </div>
          </div> -->
          <div class="card-list">
            <article class="card">
            <figure class="card-image">
              <img src="{{getSlikaById(x.id)}}" alt="An orange painted blue, cut in half laying on a blue background" style="background-size: contain;" height="200px" width="100%"/>
            </figure>
            <div class="card-header">
              <a href="/">{{x.naziv_kategorije}}</a>
              <button class="icon-button" (click)="Prijava(x.id)">
                +
              </button>
            </div>
            <div class="card-footer">
              <div class="card-meta card-meta--date">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" display="block" id="Calendar">
                  <rect x="2" y="4" width="20" height="18" rx="4" />
                  <path d="M8 2v4" />
                  <path d="M16 2v4" />
                  <path d="M2 10h20" />
                </svg>
                {{x.vrijeme_odrzavanja | date}}
              </div>
            </div>
          </article>
          </div>
        </div>
        
      </div>
    </div>


    
  </div>
</div>


<app-novi-trening [napraviNovi]="noviTrening" (ucitajTreninge)="this.fetchGrupneTreninge()"></app-novi-trening>
