.custom-modal {
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: absolute;
  top: 0;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  z-index: 999;
  background-color: white;
}

.custom-modal .custom-modal-header {
  background-color: #0d6efd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.custom-modal h5,
button {
  color: white;
  padding: 2rem;
}

.btn-primary {
  margin-right: 2rem;
  background-color: #0d6efd;
  border: none;
}

.custom-modal .btn-primary img {
  color: white;
}

.custom-modal .btn-primary:hover {
  background-color: #0d6efd;
}

.custom-modal .custom-modal-body {
  width: 100%;
  height: 100%;
}

.custom-modal .modal-background {
  z-index: 990;
  opacity: 0.3;
}


.lista {
  display: flex;
  width: 68%;
  margin-left: 16%;
  margin-right: 16%;
  justify-content: center;
  align-items: center;
}