<div class="px-4 pt-5 my-5 text-center">
    <div class="heading">
        <h3 class="display-6 fw-bold">Možete nas pronaći na ovoj lokaciji:</h3>
        <div class="bounce">
            <img src="../../assets/down.png" alt="" srcset="">
        </div>
    </div>
    <div class="col-lg-6 mx-auto my-4">
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
    </div>
</div>
<div class="lokacija">
    <iframe id="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2901.0269355162122!2d17.807003575991178!3d43.35554717163156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134b439e0c65cb4d%3A0xbd11c66192f5a493!2sFakultet%20informacijskih%20tehnologija%20-%20UNMO!5e0!3m2!1sbs!2sba!4v1681655565548!5m2!1sbs!2sba"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>