<!--Filter-->


<div class="container" style="height: 50px;">
  <div class="row">
    <div class="col-10">
      <form class="w-100 me-3" role="search">
        <input type="search" class="form-control" placeholder="Unesite naziv suplementa..." aria-label="Search">
      </form>
    </div>
    <div class="col">
      <a id="korpa" (click)="prebaciNaKorpu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> </svg>
      </a>
    </div>

  </div>

</div>

<div class="container">
  <button class="btn btn-primary" *ngIf="logiran" (click)="this.noviSuplementi()">Novi +</button>
</div>


<!--Suplementi-->

<div class="container net">
  <div class="row">
    <div class="col-2">
      <div class="row">
        <a (click)="this.kategorijaID=0" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold">Kategorije suplemenata</span>
        </a>
        <div class="list-group list-group-flush border-bottom scrollarea">
          <a (click)="this.kategorijaID=x.id" *ngFor="let x of this.kategorijeSuplemenata" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1" >{{x.naziv_kategorije}}</strong>
            </div>
          </a>
          <a (click)="this.kategorijaID=0" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-center">
              <strong style="color: red;" class="mb-1" >Očisti filter</strong>
              <img style="margin-left:1rem" width="16px" height="16px" src="../../assets/trash.png">
            </div>
          </a>


        </div>
      </div>
    </div>
    <div class="col">
      <div class="container">


          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" >
            <div class="col" *ngFor="let x of this.getSuplementiPodaci() | paginate : {
              itemsPerPage: itemsPerPage,
              currentPage: currentPage,
              totalItems: totalItems
            };
            let i = index">
              <div class="container" >
                <img src="{{this.getSlikaById(x.id)}}" alt="" srcset="" max-width="100%" height="150px" loading="lazy">
                <div class="card-body">
                  <h4>{{x.naziv}}</h4>
                  <p class="card-text">{{x.opis}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" (click)="AddItemToCart(x)" class="btn btn-sm btn-success">Dodaj u korpu</button>
                      <button type="button" class="btn btn-sm btn-outline-success">{{x.cijena}}KM</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      <div class="col-12" style="padding-top:20%" *ngIf="this.suplementi==null || this.suplementi.length==0">
        <app-loader></app-loader>
      </div>
        <div class="d-flex justify-content-center mt-5">
              <pagination-controls class="my-pagination"  previousLabel="Prethodna" nextLabel="Sljedeća"
                (pageChange)="onPageChange($event)">
              </pagination-controls>
            </div>
    </div>

  </div>
</div>

<!--Footer-->




<app-suplement [noviSuplement]="odabraniSuplement" (ucitaj)="this.fetchSuplementi()"></app-suplement>
