<div class="container d-flex">
<div class="container py-5 w-25">
  <img src="{{this.getSlikaById(trenutniKorisnik.id)}}" class="img-thumbnail" alt="..." width="400px" height="400px">
  <div class="container py-5">
    <div class="container">
    <label style="text-align: center">Promijenite profilnu sliku</label>
    </div>
    <div class="container pt-3">
    <input class="form-control" id="slika-input" type="file"  accept="image/*"  />
    <img  style="max-width: 100%; height: 200px"  src="">
    </div>
  </div>
</div>


<div class="container py-5">
  <label  class="form-label">Korisničko ime</label>
  <div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">@</span>
  <input disabled type="text" class="form-control" [value]="this.trenutniKorisnik.korisnickoIme" placeholder="Korisničko ime" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <label  class="form-label">Lozinka</label>
<div class="input-group mb-3 d-flex">
  <input disabled id="password" type="password" [value]="trenutniKorisnik.lozinka" class="form-control" placeholder="Lozinka"  aria-label="Recipient's username" aria-describedby="basic-addon2">
    <a (click)="otkrijPassword()"><img src="assets/password-eye.png" width="30px" height="30px" style="margin-left: 5px"></a>
</div>
  <button type="button" class="btn btn-outline-primary" (click)="odabraniKorisnik" >Uredi</button>
</div>
</div>

<!--Footer-->


