<div
  class="modal fade show"
  id="exampleModalLive"
  tabindex="-1"
  aria-labelledby="exampleModalLiveLabel"
  aria-modal="true"
  role="dialog"
  style="display: block"
  *ngIf="this.novaClanarina.prikazi"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Nova članarina</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="novaClanarina.prikazi=false"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Naziv</label>
          <input class="form-control" type="text" placeholder="Naziv" [(ngModel)]="novaClanarina.naziv"/>
        </div>
        <div class="mb-3">
          <label class="form-label">Cijena</label>
          <input class="form-control" type="text" placeholder="Cijena" [(ngModel)]="novaClanarina.cijena"/>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="novaClanarina.prikazi=false">Close</button>
        <button type="button" class="btn btn-primary" (click)="spasiPromjene()">Save changes</button>
      </div>
    </div>
  </div>
</div>
