<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <img src="assets/logo.png" alt="" srcset="" width="50px" height="50px">
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li id="navigacija">
        <a routerLink="home" routerLinkActive="active" class="nav-link px-2 link-dark">Početna</a>
      </li>
      <li>
        <a routerLink="shop" routerLinkActive="active" class="nav-link px-2 link-dark">Shop</a>
      </li>
      <li>
        <a routerLink="clanarine" routerLinkActive="active" class="nav-link px-2 link-dark">Članarine</a>
      </li>
      <li>
        <a routerLink="grupniTrening" routerLinkActive="active" class="nav-link px-2 link-dark">Grupni trening</a>
      </li>
      <li>
        <a routerLink="kontakt" routerLinkActive="active" class="nav-link px-2 link-dark">Kontakt</a>
      </li>
      <li>
        <a *ngIf="!loginInfo().isLogiran" routerLink="login"><button type="button"
            class="btn btn-outline-primary mx-3">Login</button></a>
      </li>
      <li>
        <a *ngIf="!loginInfo().isLogiran" routerLink="/registracija" type="button"
          class="btn btn-primary">Registracija</a>
      </li>

      <li class="nav-item dropdown" *ngIf="loginInfo().isLogiran">
        <a class="nav-link dropdown-toggle" href="#" id="navbarLogiraniKorisnikLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-regular fa-user"></i> {{loginInfo().autentifikacijaToken.korisnickiNalog.korisnickoIme}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarLogiraniKorisnikLink">
          <li>
            <a class="dropdown-item" routerLink="/postavke-profila">Postavke profila</a>
          </li>
          <li class="nav-item dropdown" [ngStyle]="JeLiAdmin()" *ngIf="loginInfo().autentifikacijaToken.korisnickiNalog.isAdmin">
            <a class="dropdown-item" (click)="redirectNaAdminPanel()">Admin panel</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logoutButton()">Odjava</a>
          </li>
        </ul>
      </li>
    </ul>

  </header>
</div>