.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.button h4{
    font-size: 1.25rem !important;
}
.button span{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.button span:hover{
    transition: 0.3s;
    border-radius: 10px;
    background-color: #69c2ec !important;
}