<div class="container d-flex p-2">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Postanite član našeg fitness centra!</h1>
      <p class="lead">Učlanite se u naš fitness centar i unesite zdravu naviku u Vaš život. Redovnim treningom ćete postići vidljive rezultate. Također, kao dodatak možete pogledati našu ponudu suplemenata.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <a (click)="redirekcijaNaSuplemente()"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Pogledaj suplemente</button></a>
      </div>
    </div>
    <div class="col">
      <img src="assets/clanarine.svg" alt="" srcset="" width="250px" height="auto">
    </div>
  </div>
</div>
<div *ngIf="this.vrsteClanarina.length==0 ||this.vrsteClanarina == null " style="margin-top:10rem">
  <app-loader></app-loader>
</div>
<div class="container my-5">
<div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
  <div *ngFor="let x of this.vrsteClanarina" class="col px-5">
    <div class="card mb-4 rounded-3 shadow-sm border-primary">
      <div class="card-header py-3 text-bg-primary border-primary">
        <h4 class="my-0 fw-normal">{{x.naziv}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{x.cijena}}KM</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Popust od 5KM/mjesec ukoliko ste student</li>
          <li>Popust na suplemente</li>
          <li>Prvi trening besplatan</li>
        </ul>
        <button type="button" class="w-100 btn btn-lg btn-primary" (click)="novoUclanjenje(x.id)">Učlani se</button>
      </div>
    </div>
  </div>
</div>
</div>
  <app-nova-clanarina [novaClanarina]="novaClanarina" (ucitaj)="this.fetchVrsteClanarina()" ></app-nova-clanarina>
