<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="assets/logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""
      [(ngModel)]="txtKorisnickoIme" [ngModelOptions]="{standalone:true}">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
      [(ngModel)]="txtLozinka" [ngModelOptions]="{standalone:true}">
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="btnLogin()">Login</button>
  </form>
</body>

<div class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel"
  aria-modal="true" role="dialog" style="display: block;" *ngIf="this.openModal==true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Two-way authentication</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="openModal=false"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Token</label>
          <input class="form-control" type="text" placeholder="Unesite Vaš token" [(ngModel)]="token" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="openModal=false">Zatvori</button>
        <button type="button" class="btn btn-primary" (click)="aktivacija()">Aktiviraj</button>
      </div>
    </div>
  </div>
</div>