<div class="container">
  <div class="py-5 text-center">
    <img src="../../assets/pills.png" width="70px" height="70px" alt="" srcset="">
    <h2>Suplementi</h2>
  </div>
</div>

<div class="container my-5">
  <!-- <table class="table">
    <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Naziv</th>
      <th scope="col">Kategorija</th>
      <th scope="col">Uredi</th>
      <th scope="col">Obriši</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of suplementiPodaci">
      <th scope="row">{{x.id}}</th>
      <td>{{x.naziv}}</td>
      <td>{{x.kategorija}}</td>
      <td><button type="button" class="btn btn-outline-primary">Uredi</button></td>
      <td><button type="button" class="btn btn-outline-danger">Obriši</button></td>
    </tr>
    </tbody>
  </table> -->

  <div class="container" *ngIf="this.suplementiPodaci.length == 0">
    <app-loader></app-loader>
  </div>
  
  <div class="w3-container" *ngFor="let x of suplementiPodaci  | paginate : {
    itemsPerPage: itemsPerPage,
    currentPage: currentPage,
    totalItems: totalItems
  };
  let i = index">
    <ul class="w3-ul w3-card-4" style="box-shadow:0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 2px 0 rgba(0,0,0,0.19)">
      <li class="w3-bar">
        <span class="w3-bar-item w3-button w3-white w3-xlarge w3-right delete">×</span>
        
        <img [src]="getSlikaSuplementa(x.id)" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span class="w3-large">{{x.naziv}}</span><br>
          <span>{{x.kategorija.naziv}}</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <pagination-controls class="my-pagination"  previousLabel="Prethodna" nextLabel="Sljedeća"
      (pageChange)="onPageChange($event)">
    </pagination-controls>
  </div>

</div>

